* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. vi tri
2. kich thuoc ( rong cao)
3. mau sac
4. kieu dang
*/

#main {

}
#header {
    height: 46px;
    background-color: #000;
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;


}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;

}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    padding: 0px 24px;
    line-height: 46px;
    display: inline-block;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    display: block;
    padding: 0 16px;
    line-height: 38px;
}

#slider {
    min-height: 500px;
    /* background-color: #333; */

}
#content{

}
#contact{

}
#footer{

}